<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/index.css">
    <title>Document</title>
</head>
<body>
    <h1>Ali express</h1>


<button class="btn btn-primary savatcha" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
  Savatchada - {{sumProducts}} ta buyum bor
</button>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Ordered goods</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <h4>Umumiy summa-{{sum}}$</h4>
    <h4>Umumiy buyumlar soni-{{sumProducts}}ta</h4>
    <ul class="ordered__list js-ordered-list">
        {{#each orderedProducts}}
        <li class="ordered__item">
            <p class="ordered__name">{{this.orderedProductName}} </p>
            <div>
                <p>{{this.amount}}dona / </p>
                <p>{{this.allPrice}}$</p>
            </div>
            <button class="order-delete js-delete-order" data-id="{{this.id}}" >delete</button>
        </li>
        {{/each}}
    </ul>
  </div>
</div>


    <ul class="goods__list js-goods-list">
        {{#each products}}
        <li class="goods__item">
            <div class="img-wrapper">
                <img width="150" height="150"  src="{{this.img_url}}" alt="rasm">
            </div>
            <div>
                <p class="goods-name">{{this.name}}</p>
                <p class="goods-price">{{this.price}}$</p>
            </div>
            <button data-id="{{this.id}}" class="js-order-btn">Buyutrma berish</button>
        </li>
        {{/each}}
    </ul>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script>
        let condition = localStorage.getItem('condition');
            condition = condition ? condition : 0;
                
        const elList = document.querySelector('.js-goods-list');
        const elOrderedList = document.querySelector('.js-ordered-list');
        const savatcha = document.querySelector('.savatcha');

        if(condition == 2) savatcha.click();


        async function  putOrder(id, condition){
            const req = await fetch(`/api/order/${id}/${condition}`);
            const res = await req.json();
            if(req.ok) return window.location.reload();
            alert(res.message);
        }
        elList.addEventListener('click',  function(evt){
            if(evt.target.matches('.js-order-btn')) {
                const id = evt.target.dataset.id;
                window.localStorage.setItem('condition', 1);
                putOrder(id, 1);
            }
        })

        elOrderedList.addEventListener('click', async function(evt){
            if(evt.target.matches('.js-delete-order')) {
                const id = evt.target.dataset.id;
                window.localStorage.setItem('condition', 2);
                await putOrder(id, 2);
            }
        })
    </script>
</body>
</html>